.vimg
  height: 90px
  width: 90px

.info-wrap
  .company-name
    font-size: 22px
    font-weight: 600

  .tagline
    margin-top: 3px
    font-size: 14px
    font-style: italic
    font-weight: 600

  .about
    color: #3A3952
    font-size: 12px
    font-style: italic

  .service
    border-radius: 20px
    padding: 2px 6px

  .features-wap
    margin: 15px 0
    .features
      span
        color: #3A3952


