<nav class="navbar navbar-expand-lg navbar-white ">
  <div class="logo-wrap">
    <img class="logo" src="https://www.vendosmart.com/assets/img/vendosmart/logo.svg" alt="">
  </div>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <div class="mr-auto"></div>
    <ul class="navbar-nav   my-2 my-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BUYER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MANUFACTURER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FIND VENDOR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">3D VIEWER </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> CONTACT </a>
      </li>
      <li class="nav-item">
        <button class="btn btn-success" >LOGIN/SIGN UP</button>
      </li>
    </ul>
  </div>
</nav>
